.editor {
  canvas {
    background-color: black;
  }
  .edit-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input {
      display: block;
      width: 60%;
    }
  }
}
